/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

.foto-user{
    border: solid 3px #344E5A;
    border-radius: 5px;
    display: inline-block;
    height: 80px;
    left: 10px;
    margin-right: 1em;
    position: static;
    top: 10px;
    width: 69px;
}

.tipo-pessoa{
    border-radius: 5px;
    display: inline-block;
    height: 80px;
    right: 10px;
    margin-right: 1em;
    position: absolute;
    top: 10px;
}
