/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

.foto-user00, .foto-user01, .foto-user02, .foto-user03, .foto-user04, .foto-user05, .foto-user06, .foto-user07, .foto-user08, .foto-user09 {
    border-radius: 5px;
    display: inline-block;
    height: 80px;
    left: 10px;
    margin-right: 1em;
    position: static;
    top: 10px;
    width: 69px;
}

.foto-user00{
    background: rgba(0, 0, 0, 0) url("/img/faces.png") repeat scroll -69px -322px;
}

.foto-user01{
    background: rgba(0, 0, 0, 0) url("/img/faces.png") repeat scroll 0 -10px;
}

.foto-user02{
    background: rgba(0, 0, 0, 0) url("/img/faces.png") repeat scroll -138px -218px;
}

.foto-user03{
    background: rgba(0, 0, 0, 0) url("/img/faces.png") repeat scroll -69px -218px;
}

.foto-user04{
    background: rgba(0, 0, 0, 0) url("/img/faces.png") repeat scroll -69px -10px;
}

.foto-user05{
    background: rgba(0, 0, 0, 0) url("/img/faces.png") repeat scroll -276px -114px;
}

.foto-user06{
    background: rgba(0, 0, 0, 0) url("/img/faces.png") repeat scroll -276px -322px;
}

.foto-user07{
    background: rgba(0, 0, 0, 0) url("/img/faces.png") repeat scroll -138px -322px;
}

.foto-user08{
    background: rgba(0, 0, 0, 0) url("/img/faces.png") repeat scroll -69px -114px;
}

.foto-user09{
    background: rgba(0, 0, 0, 0) url("/img/faces.png") repeat scroll -345px -322px;
}
