/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

.foto-user{
    border: solid 3px #344E5A;
    border-radius: 5px;
    display: inline-block;
    height: 80px;
    left: 10px;
    margin-right: 1em;
    position: static;
    top: 10px;
    width: 69px;
}

.estrela1, .estrela2, .estrela3, .estrela4, .estrela5{
    display: inline-block;
    height: 40px;
    left: 10px;
    margin-right: 1em;
    position: static;
    top: 10px;
    width: 188px
}

.estrela1{
    background: rgba(0,0,0,0) url("/img/star-rating.png") repeat scroll -0 -160px;
}

.estrela2{
    background: rgba(0,0,0,0) url("/img/star-rating.png") repeat scroll -0 -120px;
}

.estrela3{
    background: rgba(0,0,0,0) url("/img/star-rating.png") repeat scroll -0 -80px;
}

.estrela4{
    background: rgba(0,0,0,0) url("/img/star-rating.png") repeat scroll -0 -40px;
}

.estrela5{
    background: rgba(0,0,0,0) url("/img/star-rating.png") repeat scroll -0 -0;
}

.tipo-pessoa{
    border-radius: 5px;
    display: inline-block;
    height: 80px;
    right: 10px;
    margin-right: 1em;
    position: absolute;
    top: 10px;
}

.endereco {
    background-color: rgba(225,225,250,.75) !important;
    border-radius: 15px;
    color: #546E7A;
}

